body {
  background-color: pink;
}

.card {
  margin: 10px;
  padding: 10px;
  background-color: grey;
  width: 50px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
}

.suit {
  margin: 5px;
  font-size: 20px;
}

.name {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: red;
}

.card-container {
  margin: 5px;
  border: 5px solid black;
  height: 105px;
}

.card-container-title {
  margin-bottom: 0px;
  margin-top: 10px;
}
